# Data Processing for Homework 3

## Or how I quit worrying and learned to love the libraries.
___

Python with the pandas and scikit-learn libraries are particularly useful for the kinds of data processing you'll be doing for homework 3. If you want to "roll your own" that's okay, too. But hey, you've got midterms and you're allowed to be lazy this time.

I won't be covering what the scaling formula is, you have gotten that elsewhere. I also won't be going over how to do an SVM, you'll need to read the documentation of whatever library **cough** *Scikit-Learn* **cough** you decide to use for that.

In [19]:
import pandas as pd             # Everyone aliases it as pd. ¯\_(ツ)_/¯
import sklearn.model_selection  # Gives us the ability to split training and testing sets (among other things)
import sklearn.preprocessing    # This is where our scaling function lives

### Pandas lets us download right from a URL
Neat! Of course, if you're running experiment after experiment and need to download the data over and over again, it's probably rude to keep requesting it from the server. Download it to your machine once and use a filename instead.

The parameters of the Pandas `read_csv()` function that we care about here are `header` and `index_col`. The spambase.data file does not have a header row, so you need to make sure that `read_csv` knows this. If you don't, it'll make the first row of the data file your header. Not good.

I like to use the `index_col` parameter because it provides us with an immutable index column in our data frame that is the class of the associated row. In this case, the spambase.data csv has the class as the 57th column.

In [12]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/spambase/spambase.data'
data = pd.read_csv(url, header=None, index_col=57)

### Pandas returns an object called a DataFrame

DataFrames have a rich API that I won't go into here. See the documentation. However, among the useful features is a method called `head()` and `tail()` which work as you'd expect. As you can see below, the data set looks like it has all the positive classifications at the top and the negative classifications at the bottom.

In [27]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,47,48,49,50,51,52,53,54,55,56
57,,,,,,,,,,,,,,,,,,,,,
1,0.00,0.64,0.64,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.0,0.00,0.000,0.0,0.778,0.000,0.000,3.756,61,278
1,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.0,0.00,0.132,0.0,0.372,0.180,0.048,5.114,101,1028
1,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.0,0.01,0.143,0.0,0.276,0.184,0.010,9.821,485,2259
1,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.0,0.00,0.137,0.0,0.137,0.000,0.000,3.537,40,191
1,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.0,0.00,0.135,0.0,0.135,0.000,0.000,3.537,40,191

In [28]:
data.tail()

,0,1,2,3,4,5,6,7,8,9,...,47,48,49,50,51,52,53,54,55,56
57,,,,,,,,,,,,,,,,,,,,,
0,0.31,0.0,0.62,0.0,0.00,0.31,0.0,0.0,0.0,0.0,...,0.0,0.000,0.232,0.0,0.000,0.0,0.0,1.142,3,88
0,0.00,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.000,0.000,0.0,0.353,0.0,0.0,1.555,4,14
0,0.30,0.0,0.30,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.102,0.718,0.0,0.000,0.0,0.0,1.404,6,118
0,0.96,0.0,0.00,0.0,0.32,0.00,0.0,0.0,0.0,0.0,...,0.0,0.000,0.057,0.0,0.000,0.0,0.0,1.147,5,78
0,0.00,0.0,0.65,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.000,0.000,0.0,0.125,0.0,0.0,1.250,5,40

### Shuffling and splitting the data

Scikit-Learn provides a quick way of doing this called `train_test_split()`. You must give it the instances in the data set as the first parameter, the corresponding true values as the 2nd parameter, and what fraction ought to go into the test set. In our case the fraction is 0.5. The instances are found in the DataFrame I named `data` and to get the target values, you can access the `DataFrame.index.values` field. 

I've output the shape of the results to verify the split happened like I want.

In [30]:
X_train, X_test, y_train, y_test = sklearn.model_selection.train_test_split(data, data.index.values, test_size=0.5)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((2300, 57), (2301, 57), (2300,), (2301,))

### Now we have training and testing sets

And you can see that they appear to be shuffled, too. In fact, they are.

In [31]:
X_train.head()

,0,1,2,3,4,5,6,7,8,9,...,47,48,49,50,51,52,53,54,55,56
57,,,,,,,,,,,,,,,,,,,,,
1,0.00,0.0,0.00,0.0,0.00,0.00,0.0,2.04,0.00,0.00,...,0.0,0.0,0.000,0.0,0.969,0.000,0.000,2.179,18,85
0,0.00,0.0,0.00,0.0,0.00,0.00,0.0,0.00,0.00,0.00,...,0.0,0.0,0.000,0.0,0.000,0.000,0.000,1.761,5,37
0,0.00,0.0,0.00,0.0,0.80,0.00,0.0,0.00,0.00,0.00,...,0.0,0.0,0.000,0.0,0.000,0.000,0.000,1.350,3,54
1,0.41,0.0,0.41,0.0,0.41,0.00,0.0,0.00,0.41,0.83,...,0.0,0.0,0.000,0.0,0.000,0.000,0.676,9.444,54,255
1,0.00,0.0,0.38,0.0,1.15,0.76,0.0,0.00,0.00,0.00,...,0.0,0.0,0.122,0.0,0.061,0.061,0.000,1.775,20,158

In [32]:
X_test.head()

,0,1,2,3,4,5,6,7,8,9,...,47,48,49,50,51,52,53,54,55,56
57,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,...,0.0,0.0,0.248,0.0,0.000,0.049,0.0,2.470,30,168
1,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,...,0.0,0.0,0.000,0.0,0.000,0.000,0.0,4.500,26,45
0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,...,0.0,0.0,0.000,0.0,0.000,0.000,0.0,1.444,5,104
0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,...,0.0,0.0,0.692,0.0,0.000,0.000,0.0,3.312,11,53
1,0.0,0.0,0.0,0.0,0.0,0.0,1.33,0.0,0.0,0.0,...,0.0,0.0,0.000,0.0,0.202,1.417,0.0,29.125,223,233

### Scaling the data

Recall that you are required to scale the data based on the mean and standard deviation values of the training set. This is such a common thing to do that there is an entire class dedicated to the task in Scikit-Learn. The class is `sklearn.preprocessing.StandardScaler()`. It's got various methods, but we'll focus on the `fit()` and `transform()` methods. The `fit()` method calculates the column-wise mean and standard deviation of the set you pass to it. The `transform()` method applies those values to the data sets passed in.

In [33]:
# Create an instance of a StandardScaler that is fit to the training data
scaler = sklearn.preprocessing.StandardScaler().fit(X_train)

# Transform the training data based on that scaler and set the index values accordingly
X_train = pd.DataFrame(scaler.transform(X_train), index=y_train)  

# Transform the testing data based on that same scaler and set the index values accordingly
X_test = pd.DataFrame(scaler.transform(X_test), index=y_test)

### And here is the result

Spambase data read in from a csv, split into training and testing sets, and scaled based on the training set.

In [25]:
X_train.head()

,0,1,2,3,4,5,6,7,8,9,...,47,48,49,50,51,52,53,54,55,56
0,-0.343819,-0.167551,-0.557933,-0.053901,-0.475248,1.894359,-0.297807,-0.253370,-0.321509,-0.414949,...,-0.105926,-0.158921,-0.477124,-0.146137,-0.436788,-0.330266,-0.146005,-0.131108,-0.199197,-0.400988
1,-0.343819,-0.167551,-0.557933,-0.053901,-0.475248,-0.378081,-0.297807,-0.253370,-0.321509,-0.414949,...,-0.105926,-0.158921,-0.477124,-0.146137,-0.436788,-0.330266,-0.146005,-0.116854,-0.199197,-0.429576
1,0.577342,-0.167551,-0.031442,-0.053901,1.619150,0.738205,-0.297807,0.074176,-0.321509,-0.414949,...,-0.105926,-0.158921,-0.311990,-0.146137,-0.275699,0.215612,-0.063147,-0.138873,-0.107160,-0.045425
0,-0.343819,-0.167551,-0.351097,-0.053901,-0.314141,-0.378081,-0.297807,-0.253370,-0.321509,-0.414949,...,-0.105926,0.020497,0.046386,-0.146137,-0.436788,-0.330266,-0.146005,-0.131384,-0.144812,0.420916
1,-0.343819,0.124945,-0.181868,-0.053901,1.970658,0.419266,0.214789,-0.253370,-0.321509,1.486904,...,0.463169,-0.158921,-0.477124,-0.146137,-0.210578,-0.330266,-0.146005,-0.130936,-0.157362,-0.179431

In [26]:
X_test.head()

,0,1,2,3,4,5,6,7,8,9,...,47,48,49,50,51,52,53,54,55,56
0,-0.343819,-0.167551,-0.557933,-0.053901,-0.475248,-0.378081,-0.297807,-0.253370,-0.321509,-0.414949,...,-0.105926,-0.158921,1.430699,-0.146137,0.027628,-0.330266,-0.146005,-0.084343,-0.144812,-0.363466
1,2.090678,0.360368,0.833507,-0.053901,-0.475248,-0.378081,0.650496,-0.253370,1.005377,1.633201,...,-0.105926,-0.158921,-0.477124,0.409547,-0.332252,0.234116,-0.146005,-0.024739,0.018344,-0.120469
0,-0.343819,-0.167551,-0.445113,-0.053901,-0.475248,-0.378081,-0.297807,-0.112993,0.144695,-0.177217,...,-0.105926,-0.056396,-0.016857,-0.146137,-0.436788,-0.330266,-0.146005,-0.118960,-0.136445,0.914058
0,-0.113529,-0.117612,-0.426310,-0.053901,-0.270202,-0.378081,-0.297807,0.752664,-0.321509,-0.414949,...,0.292441,0.046128,-0.146856,-0.146137,-0.436788,-0.200736,-0.146005,-0.105258,-0.119711,1.082012
1,0.215457,-0.167551,-0.238278,-0.053901,1.648443,0.977409,-0.169658,-0.136389,-0.142200,-0.323514,...,-0.105926,-0.122305,-0.297936,-0.146137,-0.402514,0.423785,-0.146005,-0.125897,-0.169912,0.326218